<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="../lib/jquery-1.11.1.min.js"></script>
	<script src="../js/ManyToMany.js"></script>
</head>
<body>
	<button name="dispatch" id="btnCrud">CRUD</button>
	<button name="dispatch" id="btnOneToMany">OneToMany</button>
	<button name="dispatch" id="btnManyToMany">ManyToMany</button>
	<button name="dispatch" id="btnPagingAndSort">PagingAndSort</button>
	
	<h1>ManyToMany</h1>
</body>
</html>